<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="3.1">
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.example.com/tags</taglib-uri>
            <taglib-location>/META-INF/example.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.myCustomTag.com/tags</taglib-uri>
            <taglib-location>/META-INF/myCustomTag.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
